* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: black !important;
  text-decoration: none !important;
}
input,
textarea {
  border: none;
  outline: none;
  padding: 5px;
  font-weight: bolder;
}
i {
  font-size: 3rem;
  color: grey;
}
i:hover {
  transition: 0.2s;
  cursor: pointer;
}
#banner {
  width: 100%;
  background-size: 70% 90%;
}
#linkedinLogo:hover {
  color: #2867b2;
}
#xingLogo:hover {
  color: #cfdc00;
}
#gitHubLogo:hover {
  color: black;
}
label {
  font-weight: bolder;
}
.navbar {
  height: 90px !important;
  padding-bottom: -5px !important;
}
.navList li a:hover {
  color: grey !important;
  padding-bottom: 1px;
  border-bottom: 2px solid black;
  transition: 0.1s;
}
.navButtons {
  margin-left: auto;
}
.navButtons ul {
  list-style-type: none;
  margin-right: 30px;
}
.label {
  margin-top: 25px;
}
.aboutMe:hover {
  border-radius: 5px;
  /* box-shadow: 1px 1px 5px black; */
  transition: 0.3s;
}
.aboutMe:hover .pictureMe {
  transition: 0.3s;
  width: 300px !important;
  height: 300px !important;
  box-shadow: 5px 5px 10px black;
}
.aboutMeHeader {
  font-family: "Overpass", sans-serif;
}
.aboutMeText {
  font-family: "Source Code Pro", monospace;
  font-size: 1.1rem;
  font-weight: bold;
}
.experienceItems {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 310px;
  margin: 0 5px;
  font-weight: bolder;
  position: relative;
}
.experienceItems:hover {
  cursor: pointer;
}
.experienceItems:hover h2 {
  color: grey;
  animation-name: technologiesName;
  animation-duration: 0.5s;
  border-bottom: 3px solid black;
  position: relative;
}
@keyframes technologiesName {
  0% {
    left: 0;
  }
  25% {
    left: 15px;
  }
  50% {
    left: -15px;
  }
  75% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}
.experienceItems:hover img {
  animation-name: technologiesPic;
  animation-duration: 0.9s;
}

@keyframes technologiesPic {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.projectLink {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 3px;
}
.projectLink:hover {
  color: #7d7d7d !important;
  border-bottom: 1px solid black;
}
.repoLink {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 3px;
}
.repoLink:hover {
  color: #7d7d7d !important;
  border-bottom: 1px solid black;
}
.projectItem {
  border: 1px solid lightgray;
}
.projectItem:hover {
  border: 1px solid gray;
  box-shadow: 4px 4px 7px #7d7d7d;
}
.modal-header,
.modal-footer {
  border: none !important;
}
.footerLogos i {
  font-size: 3.4rem;
}
#contactButton {
  border-radius: 4px;
  background: white;
  color: grey;
}
#contactButton:hover {
  color: grey;
  transition: 0.2s;
  color: black;
}
#contactButton:active {
  background: black;
  color: white;
}
#contactForm {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40vh;
}
#contactFormElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 25vh;
  margin-right: 120px;
}
#contactFormElement div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}
.contactInfo:hover {
  cursor: pointer;
  color: grey;
  border-bottom: 1px solid black;
  transition: 0.2s;
}

@media only screen and (max-width: 990px) {
  #banner {
    background-size: 100% 90%;
  }
  .navList {
    flex-direction: column !important;
  }
  .navbar-collapse {
    background: white !important;
  }

  .navList li {
    margin-bottom: 5px;
  }
  .navButtons {
    margin: 0 auto;
    height: auto;
  }
  .label {
    margin-top: 5px;
  }
  .name {
    font-size: 1.5rem;
  }
  #contactForm {
    height: 100vh;
  }
  #contactFormElement {
    width: 100%;
    height: 40vh;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 140px;
  }
  #contactFormElement div {
    align-items: center;
  }
  .navButtons ul {
    margin-right: 0;
  }
}
